#dataset download

In [1]:
#install kaggle in colab
!pip install --upgrade --force-reinstall --no-deps kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 4.1 MB/s
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73051 sha256=218d3278146b3dcb2bcea68ca50a1063b8bdaa1b53803fcfa539f730b11ed2f2
  Stored in directory: /root/.cache/pip/wheels/62/d6/58/5853130f941e75b2177d281eb7e44b4a98ed46dd155f556dc5
Successfully built kaggle
Installing collected packages: kaggle
  Attempting uninstall: kaggle
    Found existing installation: kaggle 1.5.12
    Uninstalling kaggle-1.5.12:
      Successfully uninstalled kaggle-1.5.12
Successfully installed kaggle-1.5.12

In [2]:
#colab uses kaggle automatically with our credential
import os
#user authentication by collab automatically using API token
os.environ['KAGGLE_USERNAME'] = "marysheebhad" # username from the json file
os.environ['KAGGLE_KEY'] = "41c3f1b334fb0fd1c71e5ce856debe9f"

In [3]:
#to download dataset
!kaggle datasets download patelris/crop-yield-prediction-dataset

Downloading crop-yield-prediction-dataset.zip to /content
  0% 0.00/959k [00:00<?, ?B/s]
100% 959k/959k [00:00<00:00, 114MB/s]

In [4]:
# importing required modules 
from zipfile import ZipFile 
  
# specifying the zip file name 
file_name = "crop-yield-prediction-dataset.zip"
  
# opening the zip file in READ mode 
with ZipFile(file_name, 'r') as zip: 
    print('Extracting all the files now...') 
    zip.extractall() 
    print('Done!')

Extracting all the files now...
Done!

#converting to numeric value and seperating the target value

In [5]:
#Package to work with csv files 
import pandas as pd

In [6]:
data=pd.read_csv("/content/yield_df.csv",index_col=0)

In [7]:
data.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [8]:
# Importing pandas as pd
from pandas import DataFrame

df = DataFrame(data, columns = ['Area','Item','Year','hg/ha_yield','average_rain_fall_mm_per_year','pesticides_tonnes','avg_temp'])

# Print original data frame
#print("Original data frame:\n")
#print(df)

# Selecting the product of HomeAppliances Type
select_area=df.loc[df['Area'].isin(['Afghanistan','Armenia','Azerbaijan','Bahrain','Bangladesh','Bhutan','Brunei','Cambodia','China','Cyprus','Georgia','India','Indonesia','Iran','Iraq','Israel','Japan','Jordan','Kazakhstan','Kuwait','Kyrgyzstan','Laos','Lebanon','Malaysia','Maldives','Mongolia','Myanmar','Nepal','North Korea','Oman','Pakistan','Palestine','Philippines','Qatar','Russia','Saudi Arabia','Singapore','South Korea','Sri Lanka','Syria','Taiwan','Tajikistan','Thailand','Timor-Leste','Turkey','Turkmenistan','United Arab Emirates','Uzbekistan','Vietnam','Yemen'])]
#print("\n")
# Print selected rows based on the condition
#print("Selecting rows:\n")
print (select_area)

          Area      Item  Year  hg/ha_yield  average_rain_fall_mm_per_year  \
745    Armenia     Maize  1992        32344                          562.0
746    Armenia  Potatoes  1992       111301                          562.0
747    Armenia     Wheat  1992        21600                          562.0
748    Armenia     Maize  1993        32261                          562.0
749    Armenia  Potatoes  1993       134416                          562.0
...        ...       ...   ...          ...                            ...
27145   Turkey     Wheat  2013        28451                          593.0
27146   Turkey     Wheat  2013        28451                          593.0
27147   Turkey     Wheat  2013        28451                          593.0
27148   Turkey     Wheat  2013        28451                          593.0
27149   Turkey     Wheat  2013        28451                          593.0

       pesticides_tonnes  avg_temp
745                  8.0      7.44
746                  8.0      7.44
747                  8.0      7.44
748                  8.0      7.69
749                  8.0      7.69
...                  ...       ...
27145            39440.0     20.22
27146            39440.0     13.27
27147            39440.0     14.07
27148            39440.0     16.02
27149            39440.0     19.21

[9969 rows x 7 columns]

In [9]:
area_names=select_area['Area'].unique()
print(area_names)
#numpy package is for arrays 
import numpy as np
area_number=[]
ar=area_names.tolist() #converting array to list 
for i in select_area['Area']:
  area_number.append(ar.index(i)) #appending numerical value for area_name

['Armenia' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'India' 'Indonesia' 'Iraq'
 'Japan' 'Kazakhstan' 'Lebanon' 'Malaysia' 'Nepal' 'Pakistan' 'Qatar'
 'Saudi Arabia' 'Sri Lanka' 'Tajikistan' 'Thailand' 'Turkey']

In [10]:
#print(area_number)
select_area.pop('Area')
select_area['Area_num']=area_number #adding column Area_num
select_area.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Area_num
745,Maize,1992,32344,562.0,8.0,7.44,0
746,Potatoes,1992,111301,562.0,8.0,7.44,0
747,Wheat,1992,21600,562.0,8.0,7.44,0
748,Maize,1993,32261,562.0,8.0,7.69,0
749,Potatoes,1993,134416,562.0,8.0,7.69,0

In [11]:
item_names=select_area['Item'].unique()
import numpy as np
item_number=[]
item_ar=item_names.tolist()
for i in select_area['Item']:
  item_number.append(item_ar.index(i))

In [12]:
select_area.pop('Item')
select_area['Item_num']=item_number
select_area.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Area_num,Item_num
745,1992,32344,562.0,8.0,7.44,0,0
746,1992,111301,562.0,8.0,7.44,0,1
747,1992,21600,562.0,8.0,7.44,0,2
748,1993,32261,562.0,8.0,7.69,0,0
749,1993,134416,562.0,8.0,7.69,0,1

In [13]:
y=select_area.pop('hg/ha_yield') #targeted result

#minmax normalization of data ( all values between 0 to 1 )
x=(x-minimum)/(maximum-minimum)

In [14]:
for feature_name in select_area.columns:
        max_value = select_area[feature_name].max()
        min_value = select_area[feature_name].min()
        select_area[feature_name] = (select_area[feature_name] - min_value) / (max_value - min_value)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [15]:
select_area.head()

,Year,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Area_num,Item_num
745,0.086957,0.178622,0.00008,0.213007,0.0,0.000000
746,0.086957,0.178622,0.00008,0.213007,0.0,0.111111
747,0.086957,0.178622,0.00008,0.213007,0.0,0.222222
748,0.130435,0.178622,0.00008,0.222141,0.0,0.000000
749,0.130435,0.178622,0.00008,0.222141,0.0,0.111111

#splitting into test and train data (80:20- train:test)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(select_area, y, test_size=0.20, random_state=1) # x-data,y-label

In [17]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [18]:
X_train.to_csv('/drive/My Drive/project/dataset/new/train_X.csv')

In [19]:
X_test.to_csv('/drive/My Drive/project/dataset/new/test_X.csv')

In [20]:
y_train.to_csv('/drive/My Drive/project/dataset/new/train_y.csv')

In [21]:
y_test.to_csv('/drive/My Drive/project/dataset/new/test_y.csv')