#dataset download

In [59]:
#install kaggle in colab
!pip install --upgrade --force-reinstall --no-deps kaggle

Collecting kaggle
  Using cached kaggle-1.5.12-py3-none-any.whl
Installing collected packages: kaggle
  Attempting uninstall: kaggle
    Found existing installation: kaggle 1.5.12
    Uninstalling kaggle-1.5.12:
      Successfully uninstalled kaggle-1.5.12
Successfully installed kaggle-1.5.12

In [60]:
#colab uses kaggle automatically with our credential
import os
#user authentication by collab automatically using API token
os.environ['KAGGLE_USERNAME'] = "marysheebhad" # username from the json file
os.environ['KAGGLE_KEY'] = "41c3f1b334fb0fd1c71e5ce856debe9f"

In [61]:
#to download dataset
!kaggle datasets download patelris/crop-yield-prediction-dataset

crop-yield-prediction-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [62]:
# importing required modules 
from zipfile import ZipFile 
  
# specifying the zip file name 
file_name = "crop-yield-prediction-dataset.zip"
  
# opening the zip file in READ mode 
with ZipFile(file_name, 'r') as zip: 
    print('Extracting all the files now...') 
    zip.extractall() 
    print('Done!')

Extracting all the files now...
Done!

#converting to numeric value and seperating the target value

In [63]:
#Package to work with csv files 
import pandas as pd

In [64]:
data=pd.read_csv("/content/yield_df.csv",index_col=0)

In [65]:
data.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [66]:
area_names=data['Area'].unique()
print(area_names)
#numpy package is for arrays 
import numpy as np
area_number=[]
ar=area_names.tolist() #converting array to list 
for i in data['Area']:
  area_number.append(ar.index(i)) #appending numerical value for area_name

['Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Belarus' 'Belgium'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cameroon'
 'Canada' 'Central African Republic' 'Chile' 'Colombia' 'Croatia'
 'Denmark' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Eritrea'
 'Estonia' 'Finland' 'France' 'Germany' 'Ghana' 'Greece' 'Guatemala'
 'Guinea' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'India' 'Indonesia' 'Iraq'
 'Ireland' 'Italy' 'Jamaica' 'Japan' 'Kazakhstan' 'Kenya' 'Latvia'
 'Lebanon' 'Lesotho' 'Libya' 'Lithuania' 'Madagascar' 'Malawi' 'Malaysia'
 'Mali' 'Mauritania' 'Mauritius' 'Mexico' 'Montenegro' 'Morocco'
 'Mozambique' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua'
 'Niger' 'Norway' 'Pakistan' 'Papua New Guinea' 'Peru' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Slovenia'
 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Tajikistan' 'Thailand' 'Tunisia' 'Turkey' 'Uganda'
 'Ukraine' 'United Kingdom' 'Uruguay' 'Zambia' 'Zimbabwe']

In [ ]:
#print(area_number)
data.pop('Area')
data['Area_num']=area_number #adding column Area_num
data.head()

,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Area_num
0,Maize,1990,36613,1485.0,121.0,16.37,0
1,Potatoes,1990,66667,1485.0,121.0,16.37,0
2,"Rice, paddy",1990,23333,1485.0,121.0,16.37,0
3,Sorghum,1990,12500,1485.0,121.0,16.37,0
4,Soybeans,1990,7000,1485.0,121.0,16.37,0

In [ ]:
item_names=data['Item'].unique()
import numpy as np
item_number=[]
item_ar=item_names.tolist()
for i in data['Item']:
  item_number.append(item_ar.index(i))

In [ ]:
data.pop('Item')
data['Item_num']=item_number
data.head()

,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Area_num,Item_num
0,1990,36613,1485.0,121.0,16.37,0,0
1,1990,66667,1485.0,121.0,16.37,0,1
2,1990,23333,1485.0,121.0,16.37,0,2
3,1990,12500,1485.0,121.0,16.37,0,3
4,1990,7000,1485.0,121.0,16.37,0,4

In [ ]:
label=data.pop('hg/ha_yield') #targeted result

In [ ]:
data.head()

,Year,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Area_num,Item_num
0,1990,1485.0,121.0,16.37,0,0
1,1990,1485.0,121.0,16.37,0,1
2,1990,1485.0,121.0,16.37,0,2
3,1990,1485.0,121.0,16.37,0,3
4,1990,1485.0,121.0,16.37,0,4

#minmax normalization of data ( all values between 0 to 1 )
# x=(x-minimum)/(maximum-minimum)

In [ ]:
for feature_name in data.columns:
        max_value = data[feature_name].max()
        min_value = data[feature_name].min()
        data[feature_name] = (data[feature_name] - min_value) / (max_value - min_value)

In [ ]:
data.head()

,Year,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Area_num,Item_num
0,0.0,0.449671,0.000329,0.513458,0.0,0.000000
1,0.0,0.449671,0.000329,0.513458,0.0,0.111111
2,0.0,0.449671,0.000329,0.513458,0.0,0.222222
3,0.0,0.449671,0.000329,0.513458,0.0,0.333333
4,0.0,0.449671,0.000329,0.513458,0.0,0.444444

#splitting into test and train data (80:20- train:test)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, label, test_size=0.20, random_state=1) # x-data,y-label

In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
X_train.to_csv('/drive/My Drive/project/dataset/train_X.csv')

In [ ]:
X_test.to_csv('/drive/My Drive/project/dataset/test_X.csv')

In [ ]:
y_train.to_csv('/drive/My Drive/project/dataset/train_y.csv')

In [ ]:
y_test.to_csv('/drive/My Drive/project/dataset/test_y.csv')